h2 {
    border-bottom: 2px solid #333333;
}

.center
{
    margin: auto;
    width: 20%;
    padding: 8px 16px;
}

#intro {
    background: #CCCCCC;
    color: #FFFFFF;
    border-top: 2px solid #333333;
    padding: 8px 8px;
    text-align: center;
    width: 100%;
    border-top-style: solid;
}

#controversial {
    
}

